/* CSS File */
p{
    margin: 0;
    padding: 0;
}
div {
    overflow: hidden;
    position: absolute;
    font: 20px sans-serif;
    margin: 0;
    padding: 0;
}
#background{
    width: 1280px;
    height: 720px;
    left: 0;
    top: 0;
    background-color: rgb(45,45,45);
}
#fullscreen video, #fullscreen{
    width: 100%;
    height: 100%;
    z-index: 999;
}
#blue_control,
#red_control{
    z-index: 9;
    color: white;
    bottom: 60px;
    right: 90px;
    z-index: 9999;
}
#blue_control{
    padding: 15px 35px;
    background: gray;
    border: 1px solid white;
    display: none;
}
.greenButton, .yellowButton,
.redButton, .blueButton{
    width: 50px;
    height: 15px;
    position: relative;
    display: inline-block;
    top: 1px;
    margin-left: 70px;
}
.redButton{
    background: #DA0000;
    margin: 0;
}
.blueButton{
    background: #3993D9;
    margin: 0;
}
#botones div.green span{
    background: #008F15;
}
#botones div.green{
    background: url('../img/pause.svg') no-repeat left top;
} 
#botones div.blue span{
    background: #3993D9;
}
#botones div.blue{
    background: url('../img/fullscreen.svg') no-repeat left top;
    background-size: 36%;
} 
#botones div.yellow span{
    background: #DCBB00;
}
#botones div.yellow{
    background: url('../img/stop.svg') no-repeat left top;
} 
#blue_control .blueButton{
    margin: 0;
}
#sync{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
}
#sync #number{
    text-align: center;
    background: rgba(255,255,255,0.5);
    border: solid 2px rgb(150,150,150);
    padding: 20px 100px;
    font-size: 22px;
    position: relative;
}
#sync #number span{
    font-size: 60px;
}
#sync #info{
    text-align: center;
    background: rgba(255,255,255,0.5);
    border: solid 2px rgb(70,70,70);
    padding: 20px 100px;
    font-size: 22px;
    margin-top: 15px;
    position: relative;
    box-sizing: border-box;
}
#content{
    width: 1024px !important;
    height: 576px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#botones{
    text-align: center;
    width: 30%;
    bottom: 0;
    right: 0;
    padding: 20px 0;
    background: rgba(0,0,0,0.1);
    border-radius: 8.5px;
    box-sizing: border-box;
}
#preview,
#catalog{
    width: 68%;
    height: 445px;
    background: rgba(0,0,0,0.1);
    border-radius: 8.5px;
    box-sizing: border-box;
}
#preview{
    right: 0;
    width: 30%;
    padding: 0;
}
.item{
    width: 100%;
    height: 14.13%;
    position: relative;
    margin-bottom: 2px;
    background: rgba(255,255,255,0.05);
}
.item.active{
    background: #5e8fc9;
}
.thumb{
    height: calc(100% - 2px);
    width: 105px;
    position: relative;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
}
.item.active .thumb{
    border-top-left-radius: 14px;
}
.thumb img{
    width: 100%;
}
.info{
    top: 50%;
    right: 0;
    width: 575px;
    font-size: 16px;
    transform: translateY(-50%);
    overflow: visible;
}
.info span{
    position: absolute;
    right: 110px;
    transform: translate(0,-50%);
    top: 50%;
    color: rgba(255,255,255,0.5);
    font-size: 12px;
}
.item.active .info span{
    color: white;
}
.info span span{
    right: auto;
    position: relative;
}
.botones{
    display: none;
    right: 20px;
    transform: translate(0,-50%);
    top: 50%;
    width: 36px;
}
.botones span{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 24px;
    background: rgba(0,0,0,0.1);
    color: white;
    font-size: 14px;
    padding: 5px 0;
    box-sizing: border-box;
    line-height: 14px;
}
span.up{
    background: url("../img/arrowup.svg") no-repeat center rgba(0,0,0,0.1);
    width: 100%;
    color: transparent;
    border-radius: 100px 100px 0 0;
    margin-bottom: 1px;
}
span.down{
    background: url("../img/arrowdown.svg") no-repeat center rgba(0,0,0,0.1);
    width: 100%;
    color: transparent;
    border-radius: 0 0 100px 100px;
    margin-top: 2px;
}
.item.active .botones{
    display: block;
}
#preview #video,
#preview #video video{
    width: 100%;
    position: relative;
}
#preview #info{
    position: relative;
    margin: 18px auto;
    width: 94%;
}
#preview #info #album,
#preview #info #users{
    position: relative;
    text-align: center;
}
#album p, #users p{
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
}
#preview #info #album ul,
#preview #info #users ul{
    margin: 10px 0;
    padding: 0 0 0 15px;
    text-align: left;
    list-style-type: none;
    font-size: 12px;
    color: rgba(255,255,255,0.4);
}
#video{
    height: 175px;
}
video#real.noFullscreen{
    display: none;
    position: absolute;
    width: 305.5px;
    max-height: 175px;
    z-index: 99999;
    right: 128px;
    top: 70px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#videoScreen{
    display: none;
    z-index: 99999;
}

/* Re-style */
#catalog{
    height: 100%;
    border: none;
    background: none;
}
.titulo{
    font-size: 20px;
    color: white;
}
.artista{
    font-size: 16px;
    color: rgba(255,255,255,0.5);
}
#botones div{
    width: 66px;
    display: inline-block;
    position: relative;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    text-align: left;
    padding-top: 30px;
    background: url('../img/play.svg') no-repeat left top;
}
#botones div span{
    width: 85%;
    height: 8px;
    border-radius: 4px;
    background: #DA0000;
    float: left;
    margin-bottom: 10px;
}
